@using DemoProject.Entities.ViewModel
@model ProductSearchParams


<nav aria-label="Page navigation example d-flex justify-content-between">
    
    <ul class="pagination justify-content-center w-75" onchange="SearchProducts()">
        @{
            int prevPage = @Model.Pg - 1;
            string finder = @Model.Finder;
            string sort = @Model.Sort;
        }

        <li class="page-item">
            @if (@Model.Pg > 1)
            {
                <button class="page-link" aria-label="Previous" onclick="SearchProducts(@prevPage , '@finder' ,'@sort')">
                    <span aria-hidden="true">&laquo;</span>
                </button>
            }
        </li>
        @{
            double totalpages = ViewBag.Totalpages1;
            int nextPage = @Model.Pg + 1;
            
            for (int i = 1; i <= totalpages; i++)
            {
                @if (i == @ViewBag.currentPage)
                {
                    <li class="page-item page-active">
                        <button class="page-link" onclick="SearchProducts(@i , '@finder' ,'@sort' )">@i </button>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <button class="page-link" onclick="SearchProducts(@i, '@finder' ,'@sort')">@i</button>
                    </li>
                }


            }
        }
        <li class="page-item">
            @if (@Model.Pg < @ViewBag.Totalpages1)
            {
                <button class="page-link" aria-label="Next" onclick="SearchProducts(@nextPage, '@finder' ,'@sort')">
                    <span aria-hidden="true">&raquo;</span>
                </button>
            }

        </li>
    </ul>
</nav>