<nav aria-label="Page navigation example d-flex justify-content-between">
    
    <ul class="pagination justify-content-center w-75" onchange="Search()">
        @{
            int prevPage = @ViewBag.currentPage - 1;
            string finder = @ViewBag.Finder;
            string sort = @ViewBag.Sort;
        }

        <li class="page-item">
            @if (@ViewBag.currentPage > 1)
            {
                <button class="page-link" aria-label="Previous" onclick="Search(@prevPage , '@finder' ,'@sort')">
                    <span aria-hidden="true">&laquo;</span>
                </button>
            }

        </li>
        @{
            double totalpages = ViewBag.Totalpages1;
            int nextPage = @ViewBag.currentPage + 1;
            
            for (int i = 1; i <= totalpages; i++)
            {
                @if (i == @ViewBag.currentPage)
                {
                    <li class="page-item page-active">
                        <button class="page-link" onclick="Search(@i , '@finder' ,'@sort' )">@i </button>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <button class="page-link" onclick="Search(@i, '@finder' ,'@sort')">@i</button>
                    </li>
                }


            }
        }
        <li class="page-item">
            @if (@ViewBag.currentPage < @ViewBag.Totalpages1)
            {
                <button class="page-link" aria-label="Next" onclick="Search(@nextPage, '@finder' ,'@sort')">
                    <span aria-hidden="true">&raquo;</span>
                </button>
            }

        </li>
    </ul>
</nav>