@using DemoProject.Entities.ViewModel

@{
    Layout = null;
}

@model ProductViewModel

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">





<nav class="navbar navbar-expand-lg navbar-light bg-dark ps-5">
    <a class="navbar-brand fs-3 fw-bold text-white" href="#">MFA</a><i class="bi bi-key-fill text-white"></i><i class="bi bi-lock-fill text-white"></i>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse w-100 d-flex justify-content-between" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto d-flex align-items-center justify-content-between w-100">
            <li class="nav-item active ">
                <a class="nav-link text-white" asp-controller="Home" asp-action="HomePage">Home</a>
            </li>
            <li class="nav-item me-3">
                <form method="post" asp-controller="Home" asp-action="Logout">
                    <button type="submit" class="nav-link fs-5 fw-bold text-white">Logout</button>
                </form>
            </li>
        </ul>
    </div>
</nav>
<div class="container mx-5">
    <div class="d-flex justify-content-between p-0 w-75 mt-3 me-0 m-0">
        <span class="fs-3 fw-bold me-auto">Edit Products</span>
    </div>
    <form class="form-example mt-2 w-100" method="post" id="addOrder">

        <div class="row form-group">
            <div class="col-4">
                <span class="fs-4">Product Name<span class="text-danger">*</span></span>
                <input type="text"
                       class="form-control text my-2 hiding "
                       id="productName"
                       value="@Model.ProductName"
                       placeholder="Enter Product Name" />
            </div>
            <div class="col-4">
                <span class="fs-4">Shared<span class="text-danger">*</span></span>
                <select class="form-control my-2 " aria-label="Default select example" id="productShared">
                    @if (@Model.Shared == true)
                    {
                        <option value="@Model.Shared">Yes</option>
                        <option value="false">No</option>

                    }
                    else
                    {
                        <option value="@Model.Shared">@Model.Shared</option>
                        <option value="true">Yes</option>
                    }
                </select>
            </div>
        </div>

        <div class="row form-group">
            <div class="">
                <span class="fs-4">Available For :<span class="text-danger">*</span></span>

            </div>
            <div class="dropdown d-flex w-100" style="height:300px;">
                @foreach (var entry in Model.CountryCityMap)
                {
                    <div class="my-5 col">

                        <label for="@entry.Key.CountryId">@entry.Key.Name</label>

                        @if (Model.CountryCityMap.ContainsKey(entry.Key) && entry.Value.Count() > 0)
                        {
                            <input type="checkbox" id="@entry.Key.CountryId" name="editcountry" class="country-checkbox" checked>
                        }
                        else
                        {
                            <input type="checkbox" id="@entry.Key.CountryId" name="editcountry" class="country-checkbox">
                        }

                        <div class="dropdown-content city-dropdown" id="cityListForOrder_@entry.Key.CountryId">
                            @foreach (var city in entry.Value)
                            {
                                <div class="p-0 mx-2 d-flex">
                                    <input type="checkbox" class="form-check-input city-checkbox" name="editcity" value="@city.CountryId" id="@city.CityId" checked />
                                    <label class="form-check-label ms-5" for="@city.CityId">
                                        @city.Name
                                    </label>
                                </div>
                            }

                            @foreach (var city in entry.Key.Cities)
                            {
                                if (!entry.Value.Contains(city))
                                {
                                    <div class="p-0 mx-2 d-flex">
                                        <input type="checkbox" class="form-check-input city-checkbox" name="editcity" value="@city.CountryId" id="@city.CityId" />
                                        <label class="form-check-label ms-5" for="@city.CityId">
                                            @city.Name
                                        </label>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                }



            </div>
        </div>
    </form>
    <div class="mt-3 d-flex justify-content-between">
        <button class="btn skill"
                type="button"
                onclick="location.href='@Url.Action("Products","Products")'">
            Cancel
        </button>

        <button class="btn savePassword ms-2 "
                type="button"
                id="submit"
                onclick="EditProductByAdmin(@Model.ProductId);">
            Submit
        </button>
    </div>
</div>




<style>
    .btn.savePassword {
        border: 2px solid black;
        border-radius: 25px;
        color: black;
        padding: 8px 33px 8px 33px;
    }

    .btn.skill {
        border: 2px solid gray;
        border-radius: 25px;
        color: #757575;
        padding: 8px 37px 8px 37px;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        padding: 12px 16px;
    }

        .dropdown-content label {
            display: block;
            margin-bottom: 8px;
        }

    .city-dropdown {
        display: block;
    }

</style>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/Home.js"></script>
<script>
         $(document).ready(function() {

             $('.country-checkbox').each(function() {
                 debugger
                var dropdown = $(this).siblings('.city-dropdown');
                if ($(this).is(':checked')) {
                    dropdown.show();
                } else {
                    dropdown.hide();
                }
            });

             $('input[type="checkbox"][name="editcountry"]').on('change', function () {

                var countryId = $(this).attr('id');
                if ($(this).is(':checked')) {

                } else {
                    $('#cityListForOrder_' + countryId).find('input[type="checkbox"][name="editcity"]:checked').prop('checked', false);
                }
            });

            $('.country-checkbox').on('change', function() {
                var dropdown = $(this).siblings('.city-dropdown');
                dropdown.toggle();
            });
    });



</script>