@{
    ViewData["Title"] = "Home Page";
}
@{
    Layout = null;
}
@using DemoProject.Entities.Models
@model List<User>
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<body>
    @Html.Partial("_Notification")
    <nav class="navbar navbar-expand-lg navbar-light bg-dark ps-5">
        <a class="navbar-brand fs-3 fw-bold text-white" href="#">MFA</a><i class="bi bi-key-fill text-white"></i><i class="bi bi-lock-fill text-white"></i>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse w-100 d-flex justify-content-between" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto d-flex align-items-center justify-content-between w-100">
                <li class="nav-item active ">
                    <a class="nav-link text-white" asp-controller="Home" asp-action="HomePage">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item me-3">
                    <form method="post" asp-controller="Home" asp-action="Logout">
                        <button type="submit" class="nav-link fs-5 fw-bold text-white">Logout</button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>

    <div class="mx-5">

        <div class="row mt-3 ms-1">
            <div class="d-flex justify-content-between p-0 w-75" role="search">
                <span class="pagetitle fs-3 fw-bold me-auto">User</span>
                <button type="button" class="btn savePassword " data-bs-toggle="modal" data-bs-target="#addProducts"> &#43; Order</button>

                <div class="modal fade" id="addProducts" tabindex="-1" aria-labelledby="addProductsLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addSheetLabel">Order Products</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form class="form-example mt-2" method="post" id="userAdd">
                                
                                 <div class="row form-group">
                                    <div class="col">
                                        <span class="fs-4">Products<span class="text-danger">*</span></span>
                                        <select class="form-select row-cols-auto my-2 " aria-label="Default select example" id="products">

                                            @foreach (var obj in @ViewBag.Products)
                                            {
                                                <option value="@obj.ProductId"> @obj.ProductName</option>
                                            }
                                        </select>

                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col">
                                        <span class="fs-4">Country<span class="text-danger">*</span></span>
                                        <select class="form-select row-cols-auto my-2 " aria-label="Default select example" id="ucountries" onchange="GetCity()">

                                            @foreach (var obj in @ViewBag.countries)
                                            {
                                                <option value="@obj.CountryId"> @obj.Name</option>
                                            }
                                        </select>

                                    </div>
                                    <div class="col">
                                        <span class="fs-4">City<span class="text-danger">*</span></span>
                                        <select class="form-select row-cols-auto my-2 " aria-label="Default select example" id="selectCityList">
                                        </select>
                                    </div>

                                </div>
                                <div class="row form-group">
                                                      <div class="col">
                                                           <span  class="fs-4">From  <span class="text-danger">*</span></span>
                                                        <input
                                                          type="time" 
                                                          min="1"
                                                          max="24"
                                                          class="form-control text my-2 hiding"
                                                          id="from"
                                                          placeholder="from"
                                                      
                                                        />
                                                    
                                                      </div>
                                                      <div class="col">
                                                           <span  class="fs-4">To <span class="text-danger">*</span></span>
                                                            <input
                                                              type="time"
                                                              min="1"
                                                              max="60"
                                                              class="form-control text my-2 hiding"
                                                              id="to"
                                                              placeholder="To"
                                                      
                                                            />
                                                    
                                                      </div>
                                                   
                                                  </div>
                                <div class="mt-3 d-flex justify-content-end">
                                    <button class="btn skill"
                                            type="button"
                                            data-bs-dismiss="modal" aria-label="Close" onclick="clearModal()">
                                        Cancle
                                    </button>

                                    <button class="btn savePassword ms-2"
                                            type="button"
                                            id="submit"
                                            onclick="AddProducts();">
                                        Submit
                                    </button>
                                </div>


                            </form>
                        </div>
                    </div>

                </div>
            </div>

                <div class="dropdown">

                    <button class="btn  savePassword me-3 ms-5  dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-download"></i> &nbsp; Download
                    </button>
                    @{

                        string finder = @ViewBag.Finder;
                        string sort = @ViewBag.Sort;
                        int currentPage = ViewBag.currentPage;
                        int pageSize = @ViewBag.pagesize;
                    }
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="~/Downloads/filtered_@ViewBag.UserId-.pdf" target="_blank" onclick="Search(); downloadData('pdf',@pageSize,@currentPage);">
                                <i class="bi bi-download"></i> to Pdf
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="@Url.Content("~/Downloads/filtered_" + ViewBag.UserId + "-.xlsx")" target="_blank" onclick="Search(); downloadData('excel',@pageSize,@currentPage)">
                                <i class="bi bi-download"></i> to Excel
                            </a>
                        </li>
                    </ul>
                </div>
                <button type="button" class="btn savePassword " data-bs-toggle="modal" data-bs-target="#addSheet"> &#43; Add</button>
            </div>
            <div class="modal fade" id="addSheet" tabindex="-1" aria-labelledby="addSheetLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addSheetLabel">Add</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form class="form-example mt-2" method="post" id="userAdd">

                                <div class="row form-group">
                                    <div class="col">
                                        <span class="fs-4">FirstName<span class="text-danger">*</span></span>
                                        <input type="text"
                                               class="form-control text my-2 hiding"
                                               id="ufname"
                                               placeholder="Enter First Name" />

                                    </div>
                                    <div class="col">
                                        <span class="fs-4">LastName<span class="text-danger">*</span></span>
                                        <input type="text"
                                               class="form-control text my-2 hiding"
                                               id="ulname"
                                               placeholder="Enter Last Name" />

                                    </div>

                                </div>
                                <div class="row form-group">
                                    <div class="col">
                                        <span class="fs-4">Email<span class="text-danger">*</span></span>
                                        <input type="text"
                                               class="form-control text my-2 hiding"
                                               id="uemail"
                                               placeholder="Enter Email" />

                                    </div>
                                    <div class="col">
                                        <span class="fs-4">Password<span class="text-danger">*</span></span>
                                        <input type="text"
                                               class="form-control text my-2 hiding"
                                               id="upassword"
                                               placeholder="Enter Password" />

                                    </div>

                                </div>
                                <div class="row form-group">
                                    <div class="col">
                                        <span class="fs-4">Country<span class="text-danger">*</span></span>
                                        <select class="form-select row-cols-auto my-2 " aria-label="Default select example" id="ucountries" onchange="GetCity()">

                                            @foreach (var obj in @ViewBag.countries)
                                            {
                                                <option value="@obj.CountryId"> @obj.Name</option>
                                            }
                                        </select>

                                    </div>
                                    <div class="col">
                                        <span class="fs-4">City<span class="text-danger">*</span></span>
                                        <select class="form-select row-cols-auto my-2 " aria-label="Default select example" id="selectCityList">
                                        </select>
                                    </div>

                                </div>

                                <div class="mt-3 d-flex justify-content-end">
                                    <button class="btn skill"
                                            type="button"
                                            data-bs-dismiss="modal" aria-label="Close" onclick="clearModal()">
                                        Cancle
                                    </button>

                                    <button class="btn savePassword ms-2"
                                            type="button"
                                            id="submit"
                                            onclick="addUser();">
                                        Submit
                                    </button>
                                </div>


                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table mt-5 border shadow-lg table-bordered" style="width:80%" id="myTable">
                <thead class="px-4 bg-light table-dark">
                    <tr class=" tablehead">
                        <th scope="col">
                            FirstName
                            <i class="bi bi-arrow-up" onclick="Search(1,'Fname','up')"></i>
                            <i class="bi bi-arrow-down" onclick="Search(1,'Fname','down')"></i>
                        </th>
                        <th scope="col">
                            LastName
                            <i class="bi bi-arrow-up" onclick="Search(1,'Lname','up')"></i>
                            <i class="bi bi-arrow-down" onclick="Search(1,'Lname','down')"></i>
                        </th>
                        <th scope="col">
                            Email
                            <i class="bi bi-arrow-up" onclick="Search(1,'Email','up')"></i>
                            <i class="bi bi-arrow-down" onclick="Search(1,'Email','down')"></i>
                        </th>
                        <th scope="col">Action </th>
                    </tr>
                    <tr class="bg-light tablehead">
                        <th scope="col">
                            <input class="w-50" type="search" name="SearchFname" placeholder="Search" oninput="Search(1,'Fname')">
                        </th>
                        <th scope="col">
                            <input class="w-50 " type="search" name="SearchLname" placeholder="Search" oninput="Search(1,'Lname')">
                        </th>
                        <th scope="col">
                            <input class="w-50 " type="search" name="SearchEmail" placeholder="Search" oninput="Search(1,'Email')">
                        </th>
                        <th scope="col">
                        </th>
                    </tr>
                </thead>
                <tbody id="dataUsers" class="">
                </tbody>
            </table>
            <div class="d-flex justify-content-between" style="width: 81%;">
                <div>
                    <span>
                        show
                    </span>
                    <select id="selectentities" onchange="Search();">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                        <option value="100">All</option>
                    </select>
                    <span>
                        entities
                    </span>
                </div>
                <div id="userpagination">
                    <partial name="_Pagination" />
                </div>
            </div>


        </div>
    </div>
</body>


<script src="~/js/Home.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<link href="https://cdn.datatables.net/v/dt/dt-1.13.4/datatables.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/v/dt/dt-1.13.4/datatables.min.js"></script>
<script src="~/js/Home.js"></script>
<style>
    .btn.savePassword {
        border: 2px solid black;
        border-radius: 25px;
        color: black;
        padding: 8px 33px 8px 33px;
    }

    .btn.skill {
        border: 2px solid gray;
        border-radius: 25px;
        color: #757575;
        padding: 8px 37px 8px 37px;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 1px solid #ddd;
    }

    th, td {
        padding: 16px;
    }

        th:first-child, td:first-child {
            text-align: left;
        }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    a {
        text-decoration: none;
        color: #000;
    }

        a:hover {
            text-decoration: underline;
        }

    .tablehead {
        background-color: #eee;
    }

        .tablehead th {
            cursor: pointer;
        }

    .table .action {
        text-align: center;
    }

        .table .action .btn {
            margin-right: 8px;
        }

        .table .action .delete {
            color: red;
        }

</style>
<script>
    $(document).ready(function(){
        Search(1,'Fname','up',5);
    });
</script>